@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import "flowbite/src/themes/default";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  opacity: 1;
}
